/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9 déc. 2014, 16:01:42
    Author     : Dante
*/

html, body {
	background: #FFF;
}

div#main_canvas {
	width: 640px;
	height: 480px;
}

.hd {
	display: none;
}

div.game_background {
	background-image: url('../img/back_one_player.png');
	background-repeat: no-repeat;
}

.shooter {
	background-image: url('../img/shooter.png');
	background-repeat: no-repeat;
	position: absolute;
	width: 100px;
	height: 100px;
	z-index: 100;
}

.bubble {
	background-image: url('../img/bubbles.gif');
	background-repeat: no-repeat;
	position: absolute;
	width: 32px;
	height: 32px;
	z-index: 50;
}

.bubble_frozzen {
	background-image: url('../img/bubble_lose.png');
	background-repeat: no-repeat;
	position: absolute;
	width: 34px;
	height: 48px;
	z-index: 60;
}

.compressor {
	background-image: url('../img/compressor_main.png');
	background-repeat: no-repeat;
	position: absolute;
	width: 252px;
	height: 51px;
	z-index: 50;
}

.compressor_extender {
	background-image: url('../img/compressor_ext.png');
	background-repeat: no-repeat;
	position: absolute;
	width: 188px;
	height: 28px;
	z-index: 50;
}

.font {
	background-repeat: no-repeat;
	position: absolute;
	z-index: 99999;
}

.text_link {
	cursor: pointer;
}